:root {
    --accent-yellow: #ffd24e;
    --accent-pink: #ed7dab;
    --accent-red: #e1391c;
    --accent-blue: #4f5b97;
    --accent-green: #65b762;
    --accent-burgundy: #712529;

    --chrome: hsl(357, 51%, 19%);
    --chrome-x1: hsl(357, 51%, 24%);
    --chrome-x2: hsl(357, 51%, 29%);

    --chrome-text: #f7f0e3;
    --content-horiz-padding: 1em;
    --base: #f7f0e3;
    --text: #333;

    --light: #fafafa;

    --shadow: #ece3cc;

    --rgb-font: Hammersmith One;

    --body-font: Lato, Arial, Helvetica;

    --window-max: 1200px;

    --header-color: var(--accent-burgundy);
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

.theme-container {
    font-family: var(--body-font);

    &.dark {
        --base: #333;
        --text: #eee;
    }
}

.theme-container {
    min-height: 100vh;
    background: var(--base);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

section {
    padding: var(--content-horiz-padding);
}

main.markdown {
    flex-grow: 1;
    line-height: 1.5em;

    max-width: var(--window-max);
    margin: 0 auto;

    & > div {
        /* markdown wraps everything in a position:relative div that i don't know the effects off - negate it */
        display: contents;

        & > div {
            display: contents;
        }
    }

    h1,
    h2 {
        color: var(--header-color);
        font-family: var(--rgb-font);
        font-weight: 400;
    }

    h1 {
        font-size: 4em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.025em;
        line-height: 90%;

        &.standalone {
            margin: 1em;
        }
    }

    h2 {
        font-size: 1.5em;
    }

    section {
        padding: var(--content-horiz-padding);

        ul {
            padding-left: 1em;

            li {
                list-style: disc;
            }
        }
    }
}

img {
    max-width: 100%;
}
