:root {
    --accent-yellow: #ffd24e;
    --accent-pink: #ed7dab;
    --accent-red: #e1391c;
    --accent-blue: #4f5b97;
    --accent-green: #65b762;
    --accent-burgundy: #712529;

    --accent-yellow-light: #ffd24e;
    --accent-pink-light: #f1ccdc;
    --accent-red-light: #e1391c;
    --accent-blue-light: #4f5b97;
    --accent-green-light: #65b762;
    --accent-burgundy-light: #712529;

    --chrome: hsl(357, 51%, 19%);
    --chrome-x1: hsl(357, 51%, 24%);
    --chrome-x2: hsl(357, 51%, 29%);

    --em: #ed7dab;

    --chrome-text: #f7f0e3;
    --content-horiz-padding: 20px;

    --base: hsl(39, 56%, 93%);
    --base-1: hsl(39, 56%, 88%);
    --base-2: hsl(39, 56%, 83%);
    --text: #333;

    --light: #fafafa;

    --shadow: #ece3cc;

    --rgb-font: Hammersmith One;

    --body-font: Lato, Arial, Helvetica;

    --header-color: var(--accent-burgundy);

    --transparent-shadow: rgba(0, 0, 0, 0.4);
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

body {
    font-family: var(--body-font);
}

.theme-container {
    &.dark {
        --base: #333;
        --text: #eee;
    }
}

.theme-container {
    min-height: 100vh;
    background: var(--base);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.theme-container.md-toast {
    --base: #fff;
    .doodle,
    .curtains-left,
    .curtains-right,
    .about-tickets {
        display: none;
    }
}

main.markdown {
    flex-grow: 1;
    --page-width: 800px;

    &.wide {
        --page-width: 1200px;
    }

    section {
        padding: var(--content-horiz-padding) 0;

        .contents,
        & > header {
            max-width: var(--page-width);
            margin: 0 auto;
            //padding: 1em 0;
            text-align: center;

            padding: 0 var(--content-horiz-padding);
        }
    }

    .links a,
    a.links {
        color: var(--chrome-x2);
        text-decoration: underline;
    }

    section.markdown-contents {
        p {
            margin: 0;
            padding: 0.5em 0;
            text-indent: 2em;

            &.drop-caps:first-letter {
                text-indent: 0;

                color: var(--accent-burgundy);

                font-size: 4em;
                font-weight: 600;
                padding-top: 4px;
                float: left;
                padding-top: 1.05rem;
                padding-right: 10px;
            }
        }

        &.dark {
            --base: #fff;
            padding: 2em;
        }

        h2 {
            text-align: left;
            margin-top: 1em;
            margin-bottom: 0;
        }

        background: var(--base);
        color: var(--text);

        .contents {
            max-width: var(--page-width);
            margin: 0 auto;
        }

        a {
            color: var(--chrome-x2);
            text-decoration: underline;
        }

        p {
            font-size: 1.15em;
            line-height: 180%;
            text-align: left;
        }
    }

    ul {
        padding-left: 1em;

        li {
            list-style: disc;
        }
    }

    & > div {
        /* markdown wraps everything in a position:relative div that i don't know the effects off - negate it */
        display: contents;

        & > div {
            display: contents;
        }
    }

    h1,
    h2 {
        color: var(--header-color);
        font-family: var(--rgb-font);
        font-weight: 400;
    }

    h1 {
        font-size: min(3.4em, 9vw);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.025em;
        line-height: 90%;

        &.standalone {
            max-width: var(--page-width);
            margin: 0 auto;
            padding: 1em var(--content-horiz-padding);
        }

        --dynamic-shadow: min(calc(1px + 0.3vw), 3px);
        text-shadow: var(--dynamic-shadow) var(--dynamic-shadow) #00000066;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        margin: 0.5em 0;
    }

    em {
        font-style: normal;
        font-weight: 600;
        color: var(--accent-burgundy);
    }
}

.flexer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.long-short {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 5px;
}

.short-long {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
}

mark {
    background-color: var(--accent-pink);
    padding: 3px;

    &.subtle {
        background-color: var(--accent-yellow);
    }
}

img,
video {
    max-width: 100%;
}
